<%= @post.title %>

<%= @post.content %>

<ul>
<% @post.comments.each do |c| %>
  <li>
    <%=c.user.username%> said "<%=c.content%>"
  </li>
<% end %>
</ul>

The users below have commented on this post:
<%list = @post.users.map{|u| u}.uniq%>
<% list.each do |u|%>
<%= link_to u.username, user_path(u)%>
<% end %>
