<%= @post.title %>

<%= @post.content %>

<ul>
<% @post.comments.each do |c| %>
  <li>
    <%=c.user.username%> said "<%=c.content%>"
  </li>
<% end %>
</ul>

The users below have commented on this post:
<%list = @post.users.map{|u| u}.uniq%>
<% list.each do |u|%>
<%= link_to u.username, user_path(u)%>
<% end %>

Leave a comment below:
<%= form_for @post do |f| %>
  <%= f.label "User" %>
  <%= f.collection_select :user, User.all, :id, :name %>
  <%= f.label "Content" %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
